@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* font-family: 'Staatliches', cursive; */
/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --white: rgb(255, 255, 255);
    --pink: rgb(255, 184, 184);
    --black: rgb(0,0,0);
    --brown: brown;
    --light-brown: rgb(255, 165, 64);
}

body, html {
    overflow-x: hidden;
}


/* NAVIGATION STYLING */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(97, 97, 97); */
    z-index: 2;
    position: fixed;
    transition: all 0.5s ease;
}

 .sticky {
    background-color: var(--white);
}

 .sticky .logo {
     padding: 20px;
     font-size: 6vmin;
     letter-spacing: 3px;
     color: var(--black);
     text-shadow: 0px 0px 0px;
 }

 .sticky .logo span {
    color: var(--brown);
 }

 .sticky .nav-links ul li a {
    color: var(--black);
 }

nav .logo {
    font-family: 'Staatliches', cursive;
    font-size: 7vmin;
    /* margin: 20px; */
    padding: 40px;
    letter-spacing: 8px;
    color: var(--white);
    text-shadow: 1px 0 1px var(--white), 0 1px 1px var(--white), -1px 0 1px var(--white), 0 -1px 1px var(--white);
    transition: all 0.5s ease;
}

nav .logo::before {
    content: url(assets/logo3.png);
    position: relative;
    top: 8px;
    margin: 0px 10px;
}

nav .logo span {
    font-family: 'Staatliches', cursive;
    color: var(--light-brown);
}

nav .nav-links ul {
    display: flex;
    position: relative;
}

nav .nav-links ul li {
    font-size: 3vmin;
    /* margin: 20px; */
    padding: 20px;
}

nav .nav-links ul li a {
    color: var(--white);
    font-weight: 900;
}

nav .nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--light-brown);
    display: block;
    margin: auto;
    transition: 0.5s ease;
}

nav .nav-links ul li a:hover::after{
    width: 100%;
}
nav .menu-icon {
    color: var(--white);
    font-size: 5vmin;
    display: none;
}


/* SLIDER */
.slider-menu {
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(assets/bg1.jpg);
    background-size: cover;
    animation: scroll 100s linear infinite;
}


@keyframes scroll {
    0%{
        background-position:0px 3000px;
    }
   100%{
    background-position:0px -3000px;
  }
}

.slider{
    max-width: 90%;
    position: relative;
    /* top: 100px;
    left: 0; */
    /* transform: translate(-50%); */
    margin: auto;
    height: 100vh;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    position: relative;
    top: 19vh;
    left: 0; 
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px black;
    filter: brightness(0.7);
}

.slider .item h3 {
    color: var(--white);
    position: absolute;
    /* top: 60%; */
    /* left: 2%; */
    margin: 0px 40px;
    font-size: 4vmin;
    letter-spacing: 3px;
    border: 5px solid var(--white);
    padding: 10px 30px;
    border-radius: 30px;
    text-shadow: 1px 0 5px var(--black), 0 1px 5px var(--black), -1px 0 5px var(--black), 0 -1px 5px var(--black);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px var(--black);
}


/* Кнопки вперед и назад */
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 5px;
    border: 2px solid var(--white);
    background-color: rgba(0, 0, 0, 0.3);
}
.slider .next {
    right: 0;
    border-radius: 5px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Анимация слайдов */
.slider .item {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
}
@keyframes fade {
    from {
        /* opacity: 0.4 */
        filter: blur(5px);
    }
    to {
        /* opacity: 1 */
        filter: blur(0px);
    }
}


.about {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.about h1 {
    font-size: 7vmin;
    margin: 80px auto;
    font-weight: 900;
    color: var(--black);
    animation-name: animText1;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* TEXT ANIMATION */
    /* background: linear-gradient(to right, #000000 0, var(--light-brown) 10%, #000000 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none; */
}

@keyframes animText1 {
    0%{text-shadow: 0px 0px 0px black;}
    10%{text-shadow: 0px 0px 20px black;}
    20%{text-shadow: 0px 0px 30px black;}
    30%{text-shadow: 0px 0px 40px black;}
    40%{text-shadow: 0px 0px 50px black;}
    50%{text-shadow: 0px 0px 60px black;}
    60%{text-shadow: 0px 0px 50px black;}
    70%{text-shadow: 0px 0px 40px black;}
    80%{text-shadow: 0px 0px 30px black;}
    90%{text-shadow: 0px 0px 20px black;}
    100%{text-shadow: 0px 0px 0px black;}

}

/* @keyframes shine{
  0%{background-position: 0;}
  100%{background-position: 285px;}
} */


.about .row {
    display: flex;
    justify-content: space-between;
}

.about .row .col {
    width: 50%;
    transition: 1s ease;
}

.about .row .col p {
    font-size: 3vmin;
    margin: 40px;
    padding: 10px;
    background-color: rgba(255, 235, 205, 0.5);
    border-radius: 10px;
    transition: 1s ease;
}

.about .row .col p:hover {
    background-color: rgba(255, 235, 205, 1);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.about .row .imgcol img{
    transition: 1s ease;
    width: 80%;
    margin: 40px;
    border-radius: 10px;
    box-shadow: -10px -5px 20px rgba(0, 0, 0, 0.3), 10px 5px 20px rgba(0, 0, 0, 0.3);
}

.about .row .imgcol img:hover {
    transform: scale(1.05);
}


.line {
    width: 90%;
    margin: 100px auto;
    border-top: 10px solid var(--brown);
    border-radius: 5px;
}

.pugs {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0px auto;
    flex-direction: column;
    background-image: url(assets/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pugs .row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.pugs .row .col {
    width: 30%;
    backdrop-filter: blur(5px);
    border: 5px solid var(--white);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    -10px -10px 10px rgba(0, 0, 0, 0.5);
}

.pugs .row .col .imgBox{
    display: flex;
}

.pugs .row .col .imgBox img {
    margin: 0px auto;
    width: 80%;
    border-radius: 50%;
}

.pugs .title h1{
    font-size: 7vmin;
    margin: 40px auto;
    color: var(--white);
}

.pugs .col h3{
    margin: 10px auto;
    color: var(--white);
    text-align: center;
    font-size: 3vmin;
}

.pugs .col p {
    color: var(--white);
    text-align: justify;
    margin: 20px auto;
    font-size: 2.5vmin;
}

.pugs .col .link {
    width: 50%;
    text-align: center;
    margin: 40px auto;
    border: 2px solid var(--white);
    border-radius: 10px;
    transition: all 1s;  
}

.pugs .col .link a {
    color: var(--white); 
    font-size: 3vmin; 
    transition: all 1s;  
}

.pugs .col .link:hover {
    background-color: var(--brown);
    border-color: var(--light-brown);
}

.pugs .col .link a:hover {
    color: var(--light-brown);
}

.location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 90px auto;
}

.location .location-content {
    margin: 40px auto;
}

.location .location-content h1 {
    font-size: 4vmin;
    color: var(--black);
    margin: 50px auto;
}

.location .location-content h3 {
    font-size: 3vmin;
    margin: 10px auto;
    color: var(--black);
} 

.location .location-content h3 i {
    margin: 10px;
}

.location .map {
    margin: 40px auto;
}

.location .map iframe {
    border: 4px solid var(--brown);
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.contact {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form {
    border: 2px solid black;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    font-size: 6vmin;
}